body {
    font-family: 'Dosis', sans-serif;
}

header {
    background: rgba(128, 0, 128, 0.5);
    color: black;
    text-align: center;
    font-size: 5vh;
    padding: 2vh 0 0;
    height: 11vh;
    box-sizing: border-box;
}

nav {
    display: flex;
}

.bot {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    margin: 0 0.5vw;
    cursor: pointer;
    transition: 1s all;
    width: 35px;
    border-radius: 10px;
}

.button-m {
    margin: 0 0 0 2vw;
}

.bot:hover {
    background: rgba(128, 128, 128, 0.5);
}

main {
    box-sizing: border-box;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.box {
    border: 1px solid black;
    box-Sizing: border-box;
    margin: 0.9%;
    background: rgba(200, 150, 200, 0.5);
    border-radius: 5px;
    width: 267px;
    height: 45%;
    overflow: auto;
}

.input_title {
    text-align: center;
    font-size: 15px;
}

.input_text {
    font-family: 'Dosis', sans-serif;
    border: none;
    border-bottom: 1px solid rgba(123, 123, 123, 0.566);
    background: none;
    border-radius: 5px;
    width: 75%;
    transition: all 0.5s;
    margin: 1%;

}

.input_text:focus {
    background: rgba(200, 150, 200, 0.7);
}

footer {
    background: rgba(128, 0, 128, 0.3);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    box-sizing: border-box;
}

.item-feet {
    margin: 0.5vw;
}