body {
    font-family: 'Dosis', sans-serif;
}

header {
    background: rgba(128, 0, 128, 0.5);
    color: black;
    text-align: center;
    font-size: 5vh;
    padding: 2vh 0 0;
    height: 10vh;
    box-sizing: border-box;
}

nav {
    display: flex;
}

.botao {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    margin: 0 0.5vw;
    cursor: pointer;
    transition: 1s all;
    width: 35px;
    border-radius: 10px;
}

.botao-m {
    margin: 0 0 0 2vw;
}

.botao:hover {
    background: rgba(128, 128, 128, 0.5);
}

main {
    height: 86vh;
}

footer {
    background: rgba(128, 0, 128, 0.3);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    box-sizing: border-box;
}

.item-pe {
    margin: 0.5vw;
}