body {
    font-family: 'Dosis', sans-serif;
}

header {
    background: rgba(128, 0, 128, 0.5);
    color: black;
    text-align: center;
    font-size: 5vh;
    padding: 2vh 0 0;
    height: 11vh;
    box-sizing: border-box;
}

nav {
    display: flex;
}

.bot {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    margin: 0 0.5vw;
    cursor: pointer;
    transition: 1s all;
    width: 35px;
    border-radius: 10px;
}

.button-m {
    margin: 0 0 0 2vw;
}

.bot:hover {
    background: rgba(128, 128, 128, 0.5);
}

.input_search{
    font-family: 'Dosis', sans-serif;
    background: none;
    border:none;
    border-radius: 10px;
    margin: 0 0.5vw;
    transition: 0.5s all;
    font-size: 20px;
    font-weight: bold;
    width: 210px;
}

.input_search:focus {
    background: rgba(128, 128, 128, 0.5);

}

.button-q{
    margin-left: auto;
}

#button-q{
    margin: 0;
    height: 5px;
}

main {
    box-sizing: border-box;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

footer {
    background: rgba(128, 0, 128, 0.3);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    box-sizing: border-box;
}

.item-feet {
    margin: 0.5vw;
}

.background_blur{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.5);
}

.help_guide{
    display: none;
    position: absolute;
    top: 10vh;
    right: 25vw;
    z-index: 1;
    width: 50vw;
    height: 80vh;
    background: white;
    border: 1px solid black;
    border-radius: 50px;

}

.help_guide>button{
    display: block;
    background: none;
    border: none;
    float: right;
    margin: 4%;
    font-size: larger;
    font-weight: bold;
    color: grey;
    transition: 0.5s all;
    cursor: pointer;
    border-radius: 10px;
    height: 2vw;
    width: 2vw;
}

.help_guide>button:hover{
    color: black;
    background: rgba(0, 0, 0, 0.3);
}