.title_help {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.background_blur{
    display: none;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.5);
}

.help_guide{
    display: none;
    position: absolute;
    top: 10vh;
    right: 25vw;
    z-index: 1;
    width: 45vw;
    height: 70vh;
    background: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 2%;
    overflow: auto;
}

.help_guide>button{
    display: block;
    background: none;
    border: none;
    float: right;
    font-size: larger;
    font-weight: bold;
    color: grey;
    transition: 0.5s all;
    cursor: pointer;
    border-radius: 10px;
    height: 2vw;
    width: 2vw;
}

.help_guide>button:hover{
    color: black;
}