body {
    font-family: 'Dosis', sans-serif;
}

header {
    background: rgba(128, 0, 128, 0.5);
    color: black;
    text-align: center;
    font-size: 5vh;
    padding: 2vh 0 0;
    height: 11vh;
    box-sizing: border-box;
}

nav {
    display: flex;
}

.bot {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    margin: 0 0.5vw;
    cursor: pointer;
    transition: 1s all;
    width: 35px;
    border-radius: 10px;
}

.button-m {
    margin: 0 0 0 2vw;
}

.button-q{
    margin-left: auto;
}

.bot:hover {
    background: rgba(128, 128, 128, 0.5);
}

.input_search{
    font-family: 'Dosis', sans-serif;
    background: none;
    border:none;
    border-radius: 10px;
    margin: 0 0.5vw;
    transition: 0.5s all;
    font-size: 20px;
    font-weight: bold;
}

.input_search:focus {
    background: rgba(128, 128, 128, 0.5);

}

main {
    box-sizing: border-box;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

footer {
    background: rgba(128, 0, 128, 0.3);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    box-sizing: border-box;
}

.item-feet {
    margin: 0.5vw;
}