.box {
    border: 1px solid black;
    box-Sizing: border-box;
    margin: 0.9%;
    background: rgb(255, 203, 255);
    border-radius: 5px;
    width: 267px;
    height: 45%;
    overflow: auto;
}

.list_fItem {
    justify-content: center;
    display: flex;
    text-align: center;
}

.list_item{
    display: flex;
}

.input_title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.check {
    margin: 1%;
    width: 7%;
}

.input_text {
    font-family: 'Dosis', sans-serif;
    border: none;
    border-bottom: 1px solid rgba(123, 123, 123, 0.566);
    background: none;
    border-radius: 5px;
    width: 90%;
    transition: all 0.5s;
    margin: 1%;

}

.input_text:focus {
    background: rgba(200, 150, 200, 0.7);
}