.box {
    border: 1px solid black;
    box-Sizing: border-box;
    margin: 0.9%;
    background: rgb(255, 203, 255);
    border-radius: 5px;
    width: 267px;
    height: 45%;
    overflow: auto;
}

.box_foot{
    background: rgb(255, 203, 255);
    display: none;
    position: sticky;
    bottom: 0px;
    justify-content: center;
    width: 100%;
    height: 20px;
    vertical-align: bottom;
}

.list_fItem {
    justify-content: center;
    display: flex;
    text-align: center;
}

.list_item{
    display: flex;
}

.input_title{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.check {
    margin: 1%;
    width: 7%;
}

.input_text {
    font-family: 'Dosis', sans-serif;
    border: none;
    border-bottom: 1px solid rgba(123, 123, 123, 0.566);
    background: none;
    border-radius: 5px;
    width: 90%;
    transition: all 0.5s;
    margin: 1%;

}

.input_text:focus {
    background: rgba(200, 150, 200, 0.7);
}

.button_fDelete{
    font-size: 18px ;
}

.button_delete{
    display: none;
    font-family: 'Dosis', sans-serif;
    margin: 0 0.2vw;
    background: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    transition: 0.5s background;
}

.button_delete:hover{
    background: rgba(128, 128, 128, 0.5);
}